.card-div {
    display: flex;
}

.high-score-heading {
    font-size: 22px;
}

.left-div {
    margin-left: 40px;
    width: 200px;
    text-align: left;
}

.player-name {
    font-size: 24px;
    color: lightslategray;
    margin-bottom: 10px;
    font-weight: bold;
}

.player-country {
    font-size: 16px;
    color: lightsalmon;
    margin-bottom: 25px;
}

.high-score {
    font-size: 40px;
    color: #EE2364;
    font-weight: bolder;
}

.heading {
    font-size: 20px;
    color: coral;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
}