tbody tr th img {
    height: 40px;
    border-radius: 50%;
}

.tableContainer {
    margin-top: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.venue-Heading {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #EE2364;
    font-size: 25px;
}