:root {
    --bg-clr: pink;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-clr);
    overflow: hidden;
}

.color-switcher {
    width: 10rem;
    background-color: white;
    position: absolute;
    right: 0;
    top: 45%;
    padding: 1rem;
    transform: translate(0, 50%);
}

.heading{
    font-size: 1.2rem;
}