*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
   padding: 10px;
}

.share-btn{
    padding: 5px;
    color: white;
    background-color: black;
}

.popup-div{
    width: 500px;
    min-height: 200px;
    border: 1px solid black;
}