.grid-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    width: 330px;
}

.outermost-container {
    display: flex;
    justify-content: space-between;
}

.item-card-1 {
    display: flex;
    justify-content: center;
    border-right: 1px solid grey;
    width: 50%;
    padding-top: 30px;
}

.team-image-1,
.team-image-2 {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 0 10px;
}

.versus {
    margin-block-start: 0.5em;
    color: grey;
    font-weight: 700;
}

.name {
    margin-block-start: 0.2em;
    color: rgb(78, 78, 78);
}

.item-card-2 {
    margin: 0 auto;
    margin-top: 16px;
}

.date {
    color: darkmagenta;
    font-size: 20px;
}

.time {
    font-size: 18px;
    color: burlywood;
}

.link {
    text-decoration: none;
    color: rgb(0, 128, 122);
    font-weight: 800;
    font-size: large;
    cursor: pointer;
    font-size: 20px;
}

.matchNo {
    font-size: 22px;
    color: coral;
}