.componentA {
  background-color: lightseagreen;
  height: 80px;
  margin-bottom: 20px;
}

.componentB {
  background-color: lightcoral;
  height: 80px;
  margin-bottom: 20px;
}

.componentC {
  background-color: lightslategray;
  height: 80px;
  margin-bottom: 20px;
}

.componentD {
  background-color: lightgreen;
  height: 80px;
}